<mat-sidenav-container class="sidenav-container">
  <mat-sidenav #drawer class="sidenav" fixedInViewport
      [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
      [mode]="(isHandset$ | async) ? 'over' : 'side'"
      [opened]="(isHandset$ | async) === false">
    <mat-toolbar>
      <mat-toolbar-row>
        <mat-icon class="example-icon" aria-hidden="false" aria-label="Example user verified icon">menu</mat-icon>
        <span class="menu-title">Menu</span>
      </mat-toolbar-row>
    </mat-toolbar>
    <mat-nav-list>
        <mat-list-item>
          <div class="mat-nav-list-item">
              <img src="../../assets/images/note.png" alt="" srcset="" class="nav-list-image-icon">          
              <a matLine routerLink="/notes">Notes</a>
          </div>
          
        </mat-list-item>
        <mat-list-item >
          <div class="mat-nav-list-item">
            <img src="../../assets/images/reminder.png" alt="" srcset="" class="nav-list-image-icon">          
            <a matLine >Reminder</a>
        </div>
      </mat-list-item>  
      <div class="div-breaker"></div> 
      
        <h4>Categories</h4>
        <mat-list-item  *ngFor="let category of categoryList">
            <div class="mat-nav-list-item" >
                <mat-icon class="category-icon" aria-hidden="false" aria-label="Example user verified icon">label</mat-icon>
                <a matLine >{{category}}</a>
            </div>
        </mat-list-item>  
        <div class="div-breaker"></div>
        <mat-list-item >
          <div class="mat-nav-list-item">
            <img src="../../assets/images/login.png" alt="" srcset="" class="nav-list-image-icon">          
            <a matLine routerLink="/login">Login</a>
        </div>
      </mat-list-item>  
      <mat-list-item >
        <div class="mat-nav-list-item">
          <img src="../../assets/images/registration.png" alt="" srcset="" class="nav-list-image-icon">          
          <a matLine routerLink="/signup">Signup</a>
      </div>
    </mat-list-item> 
    </mat-nav-list>

    
  </mat-sidenav>
  <mat-sidenav-content>
    <mat-toolbar color="primary" class="mat-toolbar-header">
      <button
        type="button"
        aria-label="Toggle sidenav"
        mat-icon-button
        (click)="drawer.toggle()"
        *ngIf="isHandset$ | async">
        <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
      </button>
      
        <img src="../../assets/images/notes1.png" alt="" srcset="" class="app-logo">
        <span>Google Keep Clone</span>

        <section class="user-info-section">
            <mat-icon class="category-icon cursor-pointer" aria-hidden="false" aria-label="Example user verified icon">view_list</mat-icon>
            <div class="username-prefix-section">
              <span class="username">{{userNameFirstLetter}}</span>
            </div> 
            <mat-icon class="category-icon cursor-pointer" aria-hidden="false" aria-label="Example user verified icon">drag_indicator</mat-icon>
            
            
        </section>
      
      
    </mat-toolbar>
    <!-- Add Content Here -->
   <!-- <app-dashboard></app-dashboard> -->
   <!-- place holder for routing-->
   <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>