   <section class="notes-layout-section">
       <section class="new-note-form-section">
        <mat-accordion class="example-headers-align" multi>
            <mat-expansion-panel>
              <mat-expansion-panel-header>
                <mat-panel-title>
                  New Note
                </mat-panel-title>
               
              </mat-expansion-panel-header>
              <form class="new-note-form" [formGroup] = "newNoteForm" (ngSubmit) = "addNewNote(newNoteForm)">
                <mat-form-field class="example-full-width">
                    <mat-label>Title</mat-label>
                    <input type="text" matInput placeholder="title" formControlName ="title">                
                </mat-form-field>
                <mat-form-field class="example-full-width">
                    <mat-label>Description</mat-label>
                    <textarea  matInput placeholder="Description" formControlName ="description"></textarea>
                </mat-form-field>
                <mat-form-field class="example-full-width">
                    <mat-label>createdBy</mat-label>
                    <input type="text" matInput placeholder="created by" formControlName ="createdBy">                
                </mat-form-field>
                <mat-form-field class="example-full-width">
                    <mat-label>createdOn</mat-label>
                    <input type="date" matInput placeholder="created by" formControlName ="createdOn">                   
                </mat-form-field>
                <mat-checkbox formControlName="priority">Priority</mat-checkbox>
              </form>
               
            </mat-expansion-panel>
        </mat-accordion>
       </section>

       <section class="notes-layout">
        <mat-card class="note-card" *ngFor ="let note of notesList">
            <mat-card-header>
                <mat-card-title>{{ note. title}}</mat-card-title>
            </mat-card-header>
            <mat-card-content>
                <div class="note-description">
                    <p> {{ note.description}}</p>
                 </div>
                 <div class="div-breaker"></div>
                 <div class="note-createdby-createdon">
                    <section class="note-createdby">
                        <mat-icon class="user-icon mg-1" aria-hidden="false" aria-label="Example user verified icon">person</mat-icon>
                        <p> {{ note.createdBy }}</p>
                    </section>
                    <section class="note-createdon">
                        <mat-icon class="calendar-icon mg-1" aria-hidden="false" aria-label="Example user verified icon">access_time</mat-icon>
                        <p> {{ note.createdOn }}</p>
                    </section>
                 </div>
                  <div class="div-breaker"></div>
                  <section class="category-priority">
                      <span class="category">{{ note.category }}</span>
                  
                  <section class="priority">
                    <mat-icon *ngIf="note.priority" class="user-icon" aria-hidden="false" aria-label="Example user verified icon">star</mat-icon>
                    <mat-icon *ngIf="!note.priority"class="user-icon" aria-hidden="false" aria-label="Example user verified icon">star_border</mat-icon>
                  </section>
                  </section>
                
                </mat-card-content>           
        </mat-card>       
     </section>
    </section>